@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Arabic:wght@600&display=swap");
/* GLOBAL STYLES */
.typeContainer {
  padding-top: 2.5em;
  display: flex;
  justify-content: center;
}

/* DEMO-SPECIFIC STYLES */
.typeWriter div {
  color: #6e2b2b;
  text-shadow: #e0e0e0 1px 0 10px;
  font-weight: bold;
  font-size: 23px;
  font-family: "IBM Plex Sans Arabic", sans-serif;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: 0.15em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: 0.15em; /* Adjust as needed */
  animation: typing 1.5s steps(30, end), blink-caret 0.5s step-end infinite,
    backward 0.5s steps(30, end) 5.5s;
}

/* The typing effect */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes backward {
  from {
    width: 100%;
  }
  to {
    width: 0;
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: orange;
  }
}

@media screen and (max-width: 650px) {
  .typeWriter div {
    color: #6e2b2b;
    text-shadow: #e0e0e0 1px 0 10px;
    font-weight: bold;
    font-size: 13px;
    font-family: "IBM Plex Sans Arabic", sans-serif;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: 0.15em solid orange; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: 0.15em; /* Adjust as needed */
    animation: typing 1.5s steps(30, end), blink-caret 0.5s step-end infinite,
      backward 0.5s steps(30, end) 5.5s;
  }
}
